

<section class="hero">
  <h1>GameFlix's</h1>
</section>
<section>
  <section class="hero-section">
    <h1>🎮 Bienvenido a GameFlix's 🎮</h1>
    <p class="hero-description">¡Tu destino definitivo para descubrir, analizar y debatir sobre videojuegos de todo tipo! Desde los clásicos que marcaron una era hasta los últimos lanzamientos del mercado, aquí encontrarás información completa sobre cada título.</p>
    <a href="#games" class="hero-btn">Explorar Juegos</a>
  </section>
  

<footer>
  <p>🔗 Explora el mundo de los videojuegos con nosotros.</p>
  <p>&copy; 2025 GameFlix's - Todos los derechos reservados</p>
</footer>
