<div class="menu-container">
    <h1 class="menu-title">GAMEFLIX'S</h1>
    <nav>
      <ul class="menu-list">
        <li>
          <a routerLink="/home" class="menu-item">
            Página principal
          </a>
        </li>
        <li>
          <a routerLink="/gta3" class="menu-item">
            GTA 3
          </a>
        </li>
        <li>
          <a routerLink="/vicecity" class="menu-item">
            GTA VICE CITY
          </a>
        </li>
        <li>
          <a routerLink="/sanandreas" class="menu-item">
            GTA SAN ANDREAS
          </a>
        </li>
        <li>
          <a routerLink="/reddeadredemption" class="menu-item">
            RED DEAD REDEMPTION
          </a>
        </li>
      </ul>
    </nav>
  </div>
  